.loading {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1000;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    inset: 40%;
    margin: auto;
    width: 200px;
    height: 200px;
    z-index: 1011;

    & .path {
        stroke: aliceblue;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

/* Credits: https: //codepen.io/supah/pen/BjYLdW */